# Django Stuff

/backend/.venv
/backend/api
/backend/db.sqlite3

# React Stuff

/frontend/node_modules
/frontend/package-lock.json

# Compiler Stuff

/.idea

# Docker Stuff

/.env.dev
/.env.prod.db
/docker-compose.yml
/backend/Dockerfile
/frontend/Dockerfile
