.editable {
    width: 100%;
  }

.editable_k {
    width: 30%;
}

.editable_display_k {
    font-size: 16px;
    background: #FFFFFF;
}

.editable_display_k:hover {
    background: #EBECF0;
}

.editable_edit_k {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editable_edit_k input {
    border: 2px solid #0079bf;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
}

.editable_edit_footer_k {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    align-items: center;
}

.editable_edit_footer_k button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #F5F5F5;
    color: black;
    border: none;
    transition: 100ms ease;
    padding: 10px;
}

.editable_edit_footer_k button:hover {
    background-color: #EBECF0;
}


.editable_edit_footer_k .closeIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.hover-div_k {
    background-color: #FFFFFF;
    padding: 1px;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 150px;
    border-radius: 5px;
    position: relative;
}

.hover-div_k:hover {
    z-index: 1;
    background: #EBECF0;
}

.hover-text_k {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.hover-div_k:hover .hover-text_k {
    opacity: 1;
}






