{% load i18n %}

{% block subject %}
{% blocktrans %}[{{ site_name }}] Account activation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<img src="{{ protocol }}://localhost:3000/Projex-Logo.webp" alt="ProjeX" style="display: block; margin: 0 auto; max-width: 200px;">

<p>{% trans "Hi" %} <strong>{{ user.get_username }}</strong>,</p>
<p>{% trans "" %}Thank you for creating an account with us.</p>

<div style="text-align: center; margin: 10px; border: 2px solid #e1e4e8; border-radius: 5px">
<p>{% blocktrans %}<strong> {{ site_name }} Account Activation{% endblocktrans %}</strong></p>

<p>{% blocktrans %}To activate your account, please click on the following Button:{% endblocktrans %}</p>

<div style="text-align: center;">
    <a href="{{ protocol }}://localhost:3000/{{ url|safe }}"
       style="display: inline-block; background-color: #28a745; color: #fff; text-decoration: none; padding: 10px 20px; margin:10px; border-radius: 5px; text-align: center; font-weight: 400;">
        Activate Account
    </a>
</div>
</div>
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endblock html_body %}
