.sidebar {
  background-color: #101420;
  width: 140px;
  height: 90%;
  position: absolute;
  top: 58px;
  left: 0;
  padding: 0px 0px 20px 20px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}