.cardinfo {
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 730px;
}

.cardinfo_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.cardinfo_box_custom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
    padding-top: 30px;
}

.cardinfo_box_title {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cardinfo_box_close {
    float: right;
}

.cardinfo_close {
    gap: 10px;
    padding-bottom: 50px;
}

.modal_title_styling {
    width: fit-content;
}

.quill_modal_title_styling {
    width: 500px;
}

.modal_title_styling textarea{
    width: 575px;
    height: 147px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
}

.modal_title_styling input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
}

.modal_title_styling_filebutton {

}

.label_colors {
    display: flex;
    gap: 15px;
    align-items: center;
}

.label_colors li {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    list-style: none;
    border: 3px solid transparent;
    transition: 200ms;
}

.label_colors .active {
    border: 3px solid yellow;
}

.task_progress-bar {
    height: 10px;
    border-radius: 20px;
    width: 500px;
    border: 1px solid #ccc;
}

.task_progress {
    height: 10px;
    border-radius: 20px;
    background-color: #1379ec;
}

.task_progress-active {
    background-color: limegreen;
}

task_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
}

.task input,
.task svg {
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.task p {
    flex: 1
}

.cardinfo_box_labels {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.timer_button{
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    transition: 100ms ease;
    padding: 10px;
    margin: 5px;
}



.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}

.dropzone span {
    font-size: 16px;
}

.avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ccc;
    margin-bottom: 40px;
}

.comment-container {
    display: flex;
    align-items: center;
}

.comment-info {
    display: flex;
    flex-direction: column;
}


.cardinfo_box_title svg {
    margin-right: 10px;
}

.comment-text {
    margin-top: -20px;
    font-size: 14px;

}

.comment-author {
    font-weight: bold;
    margin-right: 5px;
}

.form-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.comment-input {
    flex: 1;
    margin-right: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.comment-button {
  padding: 8px 12px;
  background-color: #0052cc;
  color: #fff;
  border: none;
  border-radius: 3px;
    margin-top: 20px;

}

.comment-action-button {
  background: none;
  border: none;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.comment-buttons {
  display: flex;
}

.modal_title_stylings {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.modal_title_stylings select {
    font-size: 14px;
    font-weight: 500;
    color: #172B4D;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #DDE0E6;
    margin-right: 5px;
}

.modal_title_stylings button {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    background-color: #0052CC;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.modal_title_stylings button:hover {
    background-color: #0065FF;
}



.my-editable .editable_display {
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    width: 500px;
    display: flex;
}
.my-editable .editable_display:hover {
    background-color: #EBECF0;
}

.task_list{
    margin: 8px 0 25px
}