:background-color {
    --primary-color: #8E44AD;
  }

.forgot-password-container, .reset-password-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding: 20px;
    width: 630px;
    height: 380px;
    justify-content: center;
  }

  h2 {
    color: whitesmoke;
    margin-bottom: 20px;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .RestPasswordHeadline
  {
    color: whitesmoke;
    margin-bottom: 20px;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-bottom: 10px;
    font-weight: bold;
    color: whitesmoke;
  }

  input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  button {
    width: 220px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);;
    color: #00000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-color: whitesmoke;
  }

  button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: whitesmoke;
  }

  p{
    color:whitesmoke
  }

  .inputwdith{
  width: 375px
  }

  .Button-top-padding-for-forgetpassword{
  margin-top: 20px
  }

  .Button-border-color{
   border-color: blue;
  }
